<div class="row">
    <div class="col-md-4 p-4 m-4 border border-primary">
        <div class="form-group">
            Select Topic Of Your Instrest :
            <select [(ngModel)]="selectedTopic" #topicSelect class="form-control">
                @for (t of topics;track t.topicId)
                {
                    <option [value]="t.topicId" >{{t.topicName}}</option>
                }
            </select>
        </div>
    </div>
</div>

<hr>
<h3>You Are Selected Topic Id :{{selectedTopic}}</h3>
<br>
<hr>
@switch(topicSelect.value)
{
    @case ("1") {
        <div class="divClass">
            <h3>Abouts Cars</h3>
            <img src="car.gif">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quae maxime repellendus nulla ipsum delectus rerum nihil. Iure, ipsam minima!</P>
            <a href="https://en.wikipedia.org/wiki/Car">Read More</a>
        </div>
    }

    @case ("2") {
        <div class="divClass">
            <h3>Abouts Dogs</h3>
            <img src="dog.gif">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quae maxime repellendus nulla ipsum delectus rerum nihil. Iure, ipsam minima!</P>
            <a href="https://en.wikipedia.org/wiki/Dog">Read More</a>
        </div>
    }

    @case ("3") {
        <div class="divClass">
            <h3>Abouts Earths</h3>
            <img src="earth.gif">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quae maxime repellendus nulla ipsum delectus rerum nihil. Iure, ipsam minima!</P>
            <a href="https://en.wikipedia.org/wiki/Earth">Read More</a>
        </div>
    }

}