<h3>Today is : {{today}}</h3>
<hr>
<h2>Output using DatePipe</h2>
<hr>
<h3>Today's Date : {{today | date}}</h3>
<hr>
<h3>Today's Date : {{today | date:'medium'}}</h3>
<hr>
<h3>Today's Date : {{today | date:'shortTime'}}</h3>
<hr>
<h3>Date 1: {{date1|date}}</h3>
<h3>Date 2: {{date2|date}}</h3>
<hr>
<h3>Date Formate  WeekDays {{date1 | date:'EEEE,MMMM,dd - yyyy'}}</h3>
<hr>
<h3>Date Formate  Large Custmized {{date1 | date:'EE,MMMM-dd,yyyy gg hh:mm:ss a'}}</h3>
<hr>
<h3>Date Formate  Strig in UpperCase {{date2 | date:'EE,MMMM-dd,yyyy gg hh:mm:ss a'}}</h3>
<hr>